<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="./stylesheets/admin.css" rel="stylesheet">
    <link href="./stylesheets/profile.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Google Icons Link -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
</head>

<body>
    <div id="app">
        <!-- Include app-header component and pass activeLink as a prop
        <section class="headerbg">
            <header id="pageHeader"><span class="Title">TELT Foundation</span></header>

            <nav id="menu" >

                <ul class="nav__links">
                    <li class="Home hideOnMobile" @click="setActive('Home')" :class="{ active: activeLink === 'Home' }">ORGANIZATIONS</li>
                    <li class="Members hideOnMobile" @click="setActive('Members')" :class="{ active: activeLink === 'Members' }">USERS</li>
                    <li class="Management hideOnMobile" @click="setActive('Management')" :class="{ active: activeLink === 'Management' }">ADD ADMINS</li>
                    <li class="menu-button" > <div class="contain_dropdown">
                        <div class="dropdown" >
                            <button type="button" class="dropbtn-menu dropdown-button"><svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 96 960 960" width="50"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg>
                            </button>
                            <div class="dropdown-content-menu">
                            <a href="#" class="Home" @click.prevent="setActive('Home')" >ORGANIZATIONS</a>
                            <a class="Members" @click.prevent="setActive('Members')">USERS</a>
                            <a class="Management hideOnMobile" @click.prevent="setActive('Management')">ADD ADMINS</a>
                            </div>
                        </div>
                    </div></li>
                 </ul>

                <div class="contain_dropdown" >
                    <div class="dropdown" id="appProfile">
                        <button type="button" class="dropbtn">PROFILE</button>
                        <div class="dropdown-content">
                            <a href="#" @click="setActive('Profile')">User Information</a>
                            <a href="#" @click="setActive('Password')">Change Password</a>
                            <a href="#" @click.prevent="logout">Logout</a>
                        </div>
                    </div>
                </div>


            </nav>


        </section> -->
        <header>
            <nav class="navbar">
                <a>
                    <span class="Title">LTET Admin</span>
                </a>

                <ul class="menu-links">
                    <li @click="setActive('Home')"><a>Organization</a></li>
                    <li @click="setActive('Members')"><a href="#about">Users</a></li>
                    <li @click="setActive('Management')"><a href="#FAQ">Add Admin</a></li>


                    <li class="menu-button">
                        <div class="contain_dropdown">

                        </div>
                    </li>
                </ul>
                <div class="contain_dropdown">
                    <div class="dropdown" id="appProfile">
                        <button type="button" class="dropbtn">PROFILE</button>
                        <div class="dropdown-content">

                            <a href="#" @click="setActive('Password')">Change Password</a>
                            <a href="#" @click.prevent="logout">Logout</a>
                        </div>
                    </div>
                </div>
                <!-- <span id="hamburger-btn" class="material-symbols-outlined">menu</span> -->
            </nav>
        </header>





        <div v-if="activeLink == 'Home'" class="contentWord">
            <p class="word tit">Organization List:</p>
            <input class="search-bar" type="text" placeholder="Search Organization...">


            <div class="table-activity">
                <table>
                    <tr class="head-table">
                        <th>Organization</th>
                        <th></th>
                        <th></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>YouX</td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="button-remove">View Profile</button></td>
                    </tr>
                    <tr>
                        <td>AdelaideCity</td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="button-remove">View Profile</button></td>
                    </tr>
                </table>
            </div>
        </div>




        <div v-if="activeLink == 'Members'" class="contentWord">
            <p class="word tit">Users List:</p>
            <input class="search-bar" type="text" placeholder="Search User...">


            <div class="table-activity">
                <table>
                    <tr class="head-table">
                        <th>User</th>
                        <th></th>
                        <th></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>An</td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="button-remove">View Profile</button></td>
                    </tr>
                    <tr>
                        <td>Thien Luong Nguyen</td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="button-remove">View Profile</button></td>
                    </tr>
                </table>
            </div>
        </div>






        <div v-if="activeLink == 'Management'" class="contentWord">
            <div class="titlebox" id="passwordtitle">
                <div class="passwordbox">
                    <span class="titlename">Add Admin</span>
                </div>
            </div>

            <div class="contentbox" id="passwordcontent">

                <p class="word adminid">ID: Admin02</p>
                <div class="formgroup password">
                    <label for="fname" id="ad02">Admin Account</label>
                </div>
                <div>
                    <input v-model="adminAccount" type="text" id="fname1" name="firstname"
                        placeholder="Admin Account..">
                </div>

                <div class="formgroup password">
                    <label for="password">New Password:</label>
                    <input v-model="adminNewpassword" type="password" placeholder="Enter your password">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="formgroup password">
                    <label for="password">Comfirm Password:</label>
                    <input v-model="adminConfirmPassword" type="password" placeholder="Enter your password">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="form-group change-btn">
                    <button type="button" class="button-4" role="button" @click="signUpAdmin()">Add</button>

                </div>
            </div>
        </div>






        <div v-if="activeLink == 'Password'" class="contentWord">
            <div class="titlebox" id="passwordtitle1">
                <div class="passwordbox">
                    <span class="titlename">Change Password</span>
                </div>
            </div>

            <div class="contentbox" id="passwordcontent1">
                <div class="form-group password">
                    <label for="password">Current Password:</label>
                    <input type="password" id="password" placeholder="Enter your password">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="formgroup password">
                    <label for="password">New Password:</label>
                    <input type="password" placeholder="Enter your password">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="formgroup password">
                    <label for="password">Comfirm Password:</label>
                    <input type="password" placeholder="Enter your password">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="form-group change-btn">
                    <input type="submit" id="changebtn1" value="Change">
                </div>
            </div>
        </div>

    </div>




    <!-- Include your JavaScript files -->
    <!-- <script src="javascripts/home.js" type="module"></script>
    <script src="javascripts/Members.js" type="module"></script>
    <script src="javascripts/Management.js" type="module"></script> -->
    <script src="javascripts/app.js" type="module"></script>
    <script src="javascripts/admin.js"></script>
    <script>
        // window.addEventListener("scroll", function() {
        //     var header = document.getElementById("pageHeader");
        //     var navLinks = document.querySelector(".nav__links");
        //     var headerbg = document.querySelector(".headerbg");
        //     var profile = document.getElementById("appProfile");

        //     if (window.scrollY > 0) {
        //         header.style.display = "none"; // Hide the title if scrolled down
        //         navLinks.classList.add("scrolled");
        //         headerbg.classList.add('shrink');
        //         profile.classList.add("Scout");


        //     } else {
        //         header.style.display = "block"; // Show the title if at the top of the page
        //         navLinks.classList.remove("scrolled");
        //         headerbg.classList.remove('shrink');
        //         profile.classList.remove("Scout");

        //     }


        // });



        var placeSearch, autocomplete;

        // List all address components (corresponds to form field IDs and Google address object)
        var componentForm = {
            autocomplete: ['street_number', 'route'],
            inputCity: 'locality',
            inputState: 'administrative_area_level_1',
            inputZip: 'postal_code',
            inputCounty: 'administrative_area_level_2',
            inputCountry: 'country'
        };

        // Create autocomplete object based on the autocomplete ("street") field
        // Location type restricted to geocode
        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                { type: ['geocode'] });

            // Call fillInAddress when user selects an address from dropdown
            autocomplete.addListener('place_changed', fillInAddress);
        }

        // Fill fields with values from Google Maps autocomplete object
        function fillInAddress() {

            // Get place data from autocomplete object
            var place = autocomplete.getPlace();
            console.log(place);

            // Enable each field, then fill them with the corresponding value from the place object
            for (var component in componentForm) {
                document.getElementById(component).disabled = false;
                document.getElementById(component).value = search(componentForm[component], place.address_components);
            }


            // Fill the autocomplete field with values from the place object
            // If a street number is not found, set the field to route only.
            if (search("street_number", place.address_components) != "") {
                document.getElementById("autocomplete").value = search("street_number", place.address_components) + " ";
            }
            document.getElementById("autocomplete").value += search("route", place.address_components);

            // Search the passed object for a specified address component/type and return the short_name value of the matched component/type
            // If requested type does not exist in the placeObject, return an empty string
            function search(type, placeObject) {
                for (var i = 0; i < placeObject.length; i++) {
                    if (placeObject[i].types[0] === type) {
                        return placeObject[i].short_name;
                    } else if (i === placeObject.length - 1) {
                        return "";
                    }
                }
            }
        }




    </script>


</body>

</html>